In [28]:
import pandas as pd
import pip
pip.main(["install", "openpyxl"])

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: openpyxl in /opt/homebrew/Caskroom/miniconda/base/envs/data_analysis/lib/python3.10/site-packages (3.1.2)

Requirement already satisfied: et-xmlfile in /opt/homebrew/Caskroom/miniconda/base/envs/data_analysis/lib/python3.10/site-packages (from openpyxl) (1.1.0)

0

##  Average Income

In [18]:
median_gross_anual_earnings = pd.read_excel('data/income.xlsx', sheet_name= '5b')

# Keep only london as a region
median_gross_anual_earnings.drop(median_gross_anual_earnings[median_gross_anual_earnings['Region name '] != 'London'].index, inplace = True)

# Delete columns not needed
del median_gross_anual_earnings['Region code']
del median_gross_anual_earnings['Region name ']

# rename column
median_gross_anual_earnings.rename(columns = {'Name': 'Area'}, inplace= True)

# reset index
median_gross_anual_earning = median_gross_anual_earnings.reset_index(drop = True)
areas = median_gross_anual_earning['Area'].tolist()
median_gross_anual_earning # All areas are listed in the df

,Code,Area,1997,1998,1999,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,E09000001,City of London,28181,29297,33020,34903,39104,39750,42128,43347,...,54000,54202,54710,54034,55487,56295,61203,61527,60407,62716
1,E09000002,Barking and Dagenham,17218,22504,21480,22618,22323,24813,25337,26089,...,33131,32248,32698,33018,30994,28553,29995,28739,32444,32509
2,E09000003,Barnet,17427,18606,19568,21761,20916,23112,23843,25389,...,29594,29353,31162,30900,32623,32143,29927,31637,34022,34738
3,E09000004,Bexley,18043,18737,18621,19363,20217,21101,22232,20946,...,27440,28512,28505,29664,29177,30733,30858,31656,31742,29793
4,E09000005,Brent,17427,18914,18532,22348,21878,21350,23024,23323,...,27577,28034,29514,29987,30699,30134,30366,31706,34046,33639
5,E09000006,Bromley,14693,16175,16720,16401,15684,16635,19042,21192,...,28082,28126,27926,30444,30861,29819,30762,31765,34975,34398
6,E09000007,Camden,21507,23036,23677,25484,27386,27432,30007,30510,...,36962,36336,36748,36970,37817,38147,39198,40238,40422,41114
7,E09000008,Croydon,18168,18846,19563,21339,20889,22675,22810,24371,...,28974,30939,31154,30628,31479,32109,33804,35654,34107,34925
8,E09000009,Ealing,19191,20005,20580,22512,23862,24542,24353,26722,...,31104,29733,28825,28657,29241,30259,29928,31032,32685,32114
9,E09000010,Enfield,17881,19248,19289,22467,24136,24654,22463,27414,...,27123,25805,25805,26230,28918,29134,29238,28170,31143,30826
10,E09000011,Greenwich,19060,20229,21236,22121,20761,21846,23582,25387,...,30097,29251,28954,30497,30180,32635,33163,33214,34257,34461
11,E09000012,Hackney,21528,24878,23249,24083,24095,24582,25300,26687,...,34803,33097,33116,31566,32404,33618,35286,35082,36756,38873
12,E09000013,Hammersmith and Fulham,22196,21930,25000,25264,26319,28012,29808,29830,...,35136,34554,33688,34652,35000,36972,40972,38177,41807,39005
13,E09000014,Haringey,18038,18079,18783,19772,20349,21972,22412,23481,...,29116,29609,30325,30072,29753,31442,29801,30515,33613,31960
14,E09000015,Harrow,18533,20939,20596,22238,22960,23176,22796,24750,...,26738,25784,26037,26770,30134,31255,30553,32812,29644,33443
15,E09000016,Havering,15904,16071,17165,17418,17940,16123,18250,18240,...,28326,29858,30003,30591,28906,29134,30181,32227,33946,31953
16,E09000017,Hillingdon,21779,23208,24002,25038,26051,26159,26551,28003,...,33822,35738,33984,32681,33093,33596,31886,35359,38024,34105
17,E09000018,Hounslow,19989,20146,20155,23230,22853,24399,26033,27457,...,31821,31173,33038,33717,36235,34119,35935,36672,36958,37919
18,E09000019,Islington,22207,22525,25113,26598,28323,33497,29173,30410,...,36653,37325,36751,36679,39894,39348,40000,41199,42105,42430
19,E09000020,Kensington and Chelsea,18512,20203,20646,22952,24979,26649,25778,26846,...,30726,31307,30002,31524,30008,31678,32976,33000,35295,34157
20,E09000021,Kingston upon Thames,18638,20015,19302,20983,21427,22575,23803,23708,...,29067,29450,30768,28635,30729,31308,30711,32261,35268,35647
21,E09000022,Lambeth,21158,22676,23151,24264,24019,24952,26287,27186,...,35280,35397,34491,34852,34670,35036,36200,37226,38486,35627
22,E09000023,Lewisham,18356,19916,20580,22357,21990,23254,22398,25238,...,29995,30478,29983,30932,32217,33294,29966,32392,34403,33375
23,E09000024,Merton,17396,18147,18962,18906,21014,22429,22948,23208,...,28613,28610,27539,30040,28224,29627,31182,31741,33114,34303
24,E09000025,Newham,19269,18747,18862,19437,21054,21420,22828,25896,...,30540,29334,29061,28886,30743,30770,30392,33600,33886,36900
25,E09000026,Redbridge,18413,18246,19580,20256,21106,22133,23259,22702,...,28100,31215,31127,29098,28237,29189,27315,29967,32526,31007
26,E09000027,Richmond upon Thames,18570,20229,22321,22574,23799,23311,25527,26770,...,31505,31997,31533,32660,33329,32141,34027,35390,35575,35684
27,E09000028,Southwark,21069,21586,22784,24857,27114,28062,29307,29609,...,36056,36198,34612,36238,37159,37601,39998,40367,42925,41320
28,E09000029,Sutton,20469,19013,19582,22019,22972,23311,24434,24514,...,25247,30061,25797,27355,28318,27945,28853,32999,35097,30554
29,E09000030,Tower Hamlets,23704,25640,26376,28445,31232,31168,34237,39128,...,44880,46441,48309,46681,45975,49369,49237,45914,50465,48017
30,E09000031,Waltham Forest,17265,18732,18547,19776,21245,21799,22918,23857,...,27235,28447,26484,29352,27455,28284,30298,30664,34680,32436
31,E09000032,Wandsworth,18841,19692,21321,22840,22054,23720,24288,26137,...,31262,31491,31085,31968,33405,33137,34501,34814,34791,33503
32,E09000033,Westminster,22483,23015,24447,25951,26829,28879,29318,31482,...,37649,36946,37260,39392,40000,42152,43015,43753,46251,45295

## Average House Price

In [46]:
#TODO: do we want to work with median or mean? we can do either, code is the same.

median_house_price = pd.read_excel('data/house_price.xls', sheet_name= 'Median')

# rename column by removing the first part of their name
for label in median_house_price.columns[2:]:
    lis = list(label.split(" "))
    length = len(lis)
    median_house_price.rename(columns = {label: lis[length -1]}, inplace= True)

# Check if we have all Areas, and if some are not needed --> Remove
for area_london in median_house_price['Area']:
    if area_london not in areas:
        median_house_price = median_house_price[median_house_price['Area']!=area_london]

#Drop rows with NaN: in this case they were empty rows
median_house_price = median_house_price.dropna()


# Now, as many of the columns refer to the same year but at different moments on the year (months), we will merge them by taking the average #TODO: or median?

#define function to merge columns with same names together
# https://www.statology.org/pandas-merge-columns-with-same-name/

# TODO: how to change this to add the numbers?
#def same_merge(x):
#    return ','.join(x[x.notnull()].astype(str))

#define new DataFrame that merges columns with same names together
#df_new = median_house_price.groupby(level=0, axis=1).apply(lambda x: x.apply(same_merge, axis=1))
median_house_price
#median_house_price

,Code,Area,1995,1996,1996,1996,1996,1997,1997,1997,...,2015,2015,2016,2016,2016,2016,2017,2017,2017,2017
0,E09000001,City of London,105000.0,112500.0,112375.0,121500.0,124250.0,126502.5,130000.0,130000.0,...,823750.0,799999.5,795000.0,799750.0,800000.0,831400.0,831400.0,812500.0,835000.0,835000.0
1,E09000002,Barking and Dagenham,49000.0,49995.0,50000.0,49995.0,49995.0,49950.0,50000.0,52000.0,...,235000.0,245500.0,255000.0,265000.0,277000.0,290000.0,300000.0,302000.0,302000.0,300000.0
2,E09000003,Barnet,85125.0,85000.0,85000.0,85500.0,87000.0,89500.0,91950.0,95000.0,...,440000.0,450000.0,455000.0,460000.0,470000.0,476500.0,482950.5,500000.0,512000.0,533500.0
3,E09000004,Bexley,62000.0,62000.0,63125.0,63500.0,65000.0,67000.0,68500.0,70000.0,...,271000.0,285000.0,295000.0,310000.0,322000.0,328000.0,330000.0,332000.0,336000.0,342500.0
4,E09000005,Brent,68000.0,69000.0,70000.0,71000.0,73000.0,75000.0,76000.0,80000.0,...,400000.0,415000.0,425000.0,425000.0,450000.0,445000.0,450000.0,465150.0,475000.0,499950.0
5,E09000006,Bromley,76625.0,77000.0,77000.0,79500.0,80000.0,81000.0,82500.0,84500.0,...,365000.0,375000.0,385000.0,399000.0,408000.0,420000.0,425000.0,425000.0,435000.0,440000.0
6,E09000007,Camden,114000.0,112000.0,117000.0,121000.0,127500.0,132950.0,135000.0,140000.0,...,680750.0,705000.0,740000.0,748550.0,737500.0,735000.0,717500.0,750000.0,768750.0,760000.0
7,E09000008,Croydon,60000.0,60000.0,61000.0,63000.0,64500.0,65850.0,67000.0,69000.0,...,295000.0,306000.0,319950.0,325000.0,331000.0,338000.0,345000.0,353595.0,360522.5,365000.0
8,E09000009,Ealing,75000.0,75000.0,76000.0,78000.0,80000.0,81500.0,83500.0,87000.0,...,415000.0,432000.0,445000.0,451500.0,460000.0,465000.0,465050.0,475000.0,488000.0,485000.0
9,E09000010,Enfield,66000.0,65000.0,67000.0,68000.0,69995.0,72000.0,74000.0,76000.0,...,320000.0,331000.0,350000.0,360000.0,375000.0,385000.0,400000.0,405000.0,400250.0,402500.0
10,E09000011,Greenwich,61500.0,60000.0,62000.0,64000.0,64000.0,64000.0,64000.0,64995.0,...,331550.0,351000.0,365000.0,375000.0,385000.0,395000.0,401000.0,412000.0,420000.0,420000.0
11,E09000012,Hackney,61975.0,64000.0,64000.0,65000.0,66000.0,67000.0,70000.0,72997.5,...,461000.0,490000.0,515000.0,521050.0,536209.0,535250.0,530000.0,534500.0,530000.0,530000.0
12,E09000013,Hammersmith and Fulham,109500.0,113000.0,115000.0,120000.0,122000.0,123000.0,125000.0,132000.0,...,729700.0,730000.0,737025.0,742250.0,730000.0,730000.0,740000.0,750000.0,766625.0,777475.0
13,E09000014,Haringey,66500.0,67000.0,68000.0,70000.0,71850.0,73000.0,75000.0,78000.0,...,422000.0,439497.5,445000.0,455000.0,460500.0,460000.0,487500.0,505000.0,529250.0,540000.0
14,E09000015,Harrow,79950.0,80000.0,80000.0,80500.0,82500.0,83950.0,86000.0,90000.0,...,387000.0,400000.0,415000.0,424950.0,443750.0,460000.0,475000.0,490000.0,500000.0,500000.0
15,E09000016,Havering,66375.0,66997.5,67000.0,67000.0,68500.0,69000.0,70000.0,72500.0,...,279995.0,287500.0,300000.0,311000.0,325000.0,332000.0,340000.0,345000.0,350000.0,350000.0
16,E09000017,Hillingdon,71000.0,71000.0,71000.0,71500.0,72500.0,74000.0,75000.0,77500.0,...,339150.0,352250.0,365000.0,375000.0,390000.0,400000.0,409995.0,410000.0,415000.0,415000.0
17,E09000018,Hounslow,73000.0,73000.0,73000.0,72825.0,73000.0,73500.0,75000.0,77500.0,...,340000.0,355000.0,375000.0,387500.0,390000.0,380000.0,380000.0,375000.0,379725.0,395000.0
18,E09000019,Islington,95000.0,95000.0,98500.0,99800.0,102250.0,104000.0,110000.0,115000.0,...,575500.0,580000.0,590000.0,600000.0,605000.0,620000.0,625000.0,615000.0,617250.0,615000.0
19,E09000020,Kensington and Chelsea,172750.0,175000.0,180000.0,190000.0,195000.0,200000.0,210000.0,218000.0,...,1195625.0,1175000.0,1200000.0,1200000.0,1169100.0,1200000.0,1200000.0,1300000.0,1300000.0,1315000.0
20,E09000021,Kingston upon Thames,81000.0,82500.0,84500.0,85247.5,86000.0,88247.5,88500.0,90000.0,...,400000.0,413500.0,429000.0,440000.0,450000.0,460000.0,472000.0,475000.0,485000.0,487250.0
21,E09000022,Lambeth,66000.0,67000.0,69500.0,72000.0,75000.0,76000.0,79500.0,83000.0,...,450000.0,460000.0,475000.0,493750.0,499950.0,507600.0,510000.0,510000.0,514495.5,518110.0
22,E09000023,Lewisham,55500.0,56000.0,56500.0,57000.0,57500.0,59000.0,59995.0,62000.0,...,348000.0,360000.0,368000.0,380000.0,387325.0,387000.0,394720.0,410000.0,420000.0,430000.0
23,E09000024,Merton,74450.0,75000.0,75000.0,78000.0,80000.0,80000.0,82000.0,83500.0,...,396500.0,420000.0,440000.0,450000.0,456550.0,450000.0,445000.0,450000.0,457000.0,470000.0
24,E09000025,Newham,46750.0,47000.0,47000.0,48000.0,50000.0,51000.0,52500.0,54995.0,...,292900.0,310000.0,325000.0,334570.0,340000.0,355000.0,367725.0,380000.0,390000.0,390500.0
25,E09000026,Redbridge,67995.0,67250.0,68500.0,69500.0,71000.0,72000.0,73590.0,75000.0,...,340000.0,350000.0,360000.0,370000.0,380000.0,390000.0,400000.0,410000.0,415000.0,420000.0
26,E09000027,Richmond upon Thames,108000.0,110000.0,111500.0,116500.0,118500.0,120000.0,123000.0,129950.0,...,565000.0,577750.0,590000.0,599972.5,605000.0,605000.0,610000.0,629950.0,640000.0,650000.0
27,E09000028,Southwark,71000.0,70000.0,71000.0,72000.0,72625.0,75000.0,78000.0,80500.0,...,461000.0,475000.0,487500.0,500000.0,500000.0,512750.0,520000.0,529975.0,533500.0,530000.0
28,E09000029,Sutton,67000.0,66500.0,66500.0,67500.0,69000.0,70000.0,71500.0,73000.0,...,314250.0,320250.0,330000.0,335000.0,345000.0,347500.0,353500.0,356600.0,359950.0,367000.0
29,E09000030,Tower Hamlets,67500.0,67500.0,67000.0,71500.0,77000.0,82500.0,86500.0,89995.0,...,408500.0,425000.0,440000.0,450000.0,462120.0,470000.0,475000.0,478547.5,485000.0,490000.0
30,E09000031,Waltham Forest,55000.0,55000.0,55000.0,55000.0,56000.0,57000.0,58500.0,60000.0,...,360000.0,372000.0,390000.0,400000.0,407000.0,422000.0,430000.0,435000.0,442500.0,445000.0
31,E09000032,Wandsworth,85500.0,87000.0,89500.0,92500.0,94000.0,95000.0,99000.0,104150.0,...,545000.0,560000.0,589937.5,605000.0,625000.0,644000.0,640000.0,655000.0,658065.0,654000.0
32,E09000033,Westminster,127550.0,128000.0,128000.0,130000.0,133000.0,138000.0,147000.0,157000.0,...,876500.0,890000.0,920000.0,950000.0,980000.0,1024500.0,1070000.0,1074150.0,1050000.0,1025000.0

## Personal Well-Being (Life-Satisfaction)

In [42]:
personal_well_being = pd.read_excel('data/personal-well-being-borough.xlsx', sheet_name= 'Life-Satisfaction')
# NaN in City of London means: Data was not available

# rename column by removing last 3 digits
for label in personal_well_being.columns[2:]:
    #print(label)
    personal_well_being.rename(columns = {label: label[:-3]}, inplace= True)

# Check if we have all Areas, and if some are not needed --> Remove
for area_london in personal_well_being['Area']:
    if area_london not in areas:
        personal_well_being = personal_well_being[personal_well_being['Area'] != area_london]

personal_well_being
# TODO: For city of London there's no information for any year --> what should we do?

,Code,Area,2011,2012,2013,2014,2015,2016,2017,2018
0,E09000001,City of London,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E09000002,Barking and Dagenham,7.05,7.09,7.01,7.32,7.45,7.50,7.66,7.52
2,E09000003,Barnet,7.43,7.28,7.40,7.54,7.53,7.47,7.63,7.55
3,E09000004,Bexley,7.42,7.42,7.28,7.52,7.41,7.46,7.42,7.54
4,E09000005,Brent,7.11,7.28,7.41,7.24,7.55,7.67,7.79,7.71
5,E09000006,Bromley,7.50,7.60,7.53,7.71,7.54,7.60,7.31,7.57
6,E09000007,Camden,7.25,7.24,7.11,7.25,7.35,7.56,7.31,7.48
7,E09000008,Croydon,7.04,7.01,7.36,7.35,7.45,7.68,7.49,7.69
8,E09000009,Ealing,7.22,7.22,7.24,7.60,7.65,7.42,7.55,7.53
9,E09000010,Enfield,7.23,7.24,7.28,7.45,7.30,7.29,7.34,7.37
10,E09000011,Greenwich,7.18,7.15,7.15,7.33,7.23,7.28,7.47,7.54
11,E09000012,Hackney,7.00,7.07,7.05,7.43,7.31,7.26,7.34,7.50
12,E09000013,Hammersmith and Fulham,7.38,7.21,7.40,7.56,7.68,7.47,7.34,7.72
13,E09000014,Haringey,7.11,7.17,7.28,7.38,7.26,7.56,7.60,7.35
14,E09000015,Harrow,7.31,7.37,7.51,7.49,7.65,7.64,7.79,7.65
15,E09000016,Havering,7.35,7.36,7.51,7.62,7.69,7.53,7.58,7.68
16,E09000017,Hillingdon,7.40,7.37,7.50,7.63,7.46,7.68,7.55,7.76
17,E09000018,Hounslow,7.26,7.35,7.33,7.57,7.54,7.96,7.34,7.85
18,E09000019,Islington,7.09,7.14,7.35,7.36,7.29,7.38,7.38,7.51
19,E09000020,Kensington and Chelsea,7.57,7.70,7.67,7.65,7.78,7.52,7.31,7.23
20,E09000021,Kingston upon Thames,7.33,7.17,7.43,7.52,7.71,7.69,7.60,7.78
21,E09000022,Lambeth,7.13,7.08,7.01,7.41,7.41,7.35,7.42,7.22
22,E09000023,Lewisham,7.05,7.23,7.34,7.33,7.14,7.18,7.31,7.49
23,E09000024,Merton,7.14,7.18,7.43,7.64,7.56,7.62,7.55,7.84
24,E09000025,Newham,7.12,7.23,7.24,7.54,7.73,7.61,7.47,7.54
25,E09000026,Redbridge,7.33,7.30,7.47,7.55,7.87,7.57,7.55,7.54
26,E09000027,Richmond upon Thames,7.52,7.40,7.60,7.54,7.74,7.71,7.73,7.70
27,E09000028,Southwark,7.36,7.21,7.58,7.43,7.49,7.37,7.47,7.34
28,E09000029,Sutton,7.39,7.28,7.49,7.60,7.45,7.66,7.91,7.88
29,E09000030,Tower Hamlets,7.02,7.32,7.50,7.54,7.48,7.75,7.51,7.82
30,E09000031,Waltham Forest,7.18,7.24,7.34,7.64,7.55,7.67,7.73,7.46
31,E09000032,Wandsworth,7.46,7.26,7.43,7.47,7.53,7.64,7.64,7.65
32,E09000033,Westminster,7.33,7.00,7.53,7.45,7.60,7.68,7.57,7.66