In [1]:
import pandas as pd
import numpy as np

In [6]:
areas = ['City of London', 'Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney', 'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon', 'Hounslow', 'Islington', 'Kensington and Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster']

##  Average Income

In [20]:
# first row is the title so we skip it
median_gross_anual_earnings = pd.read_excel('data/income.xlsx', skiprows=1,  sheet_name= '5b')

# Keep only london as a region
median_gross_anual_earnings.drop(median_gross_anual_earnings[median_gross_anual_earnings['Region name '] != 'London'].index, inplace = True)

# Delete columns not needed
del median_gross_anual_earnings['Region code']
del median_gross_anual_earnings['Region name ']

# rename column
median_gross_anual_earnings.rename(columns = {'Name': 'Area'}, inplace= True)

# reset index
median_gross_anual_earning = median_gross_anual_earnings.reset_index(drop = True)

# save clean data

test = median_gross_anual_earning[['Code','Area',2011,2012,2013,2014,2015,2016,2017]]
df = pd.melt(test, id_vars=['Code','Area'], var_name='Year', value_name='median_gross_anual_earning')


df.to_csv('clean_data/median_gross_annual_earning.csv',index=False)
median_gross_anual_earning

Index(['Code', 'Area',   1997,   1998,   1999,   2000,   2001,   2002,   2003,
         2004,   2005,   2006,   2007,   2008,   2009,   2010,   2011,   2012,
         2013,   2014,   2015,   2016,   2017,   2018,   2019,   2020,   2021],
      dtype='object')

,Code,Area,1997,1998,1999,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,E09000001,City of London,28181,29297,33020,34903,39104,39750,42128,43347,...,54000,54202,54710,54034,55487,56295,61203,61527,60407,62716
1,E09000002,Barking and Dagenham,17218,22504,21480,22618,22323,24813,25337,26089,...,33131,32248,32698,33018,30994,28553,29995,28739,32444,32509
2,E09000003,Barnet,17427,18606,19568,21761,20916,23112,23843,25389,...,29594,29353,31162,30900,32623,32143,29927,31637,34022,34738
3,E09000004,Bexley,18043,18737,18621,19363,20217,21101,22232,20946,...,27440,28512,28505,29664,29177,30733,30858,31656,31742,29793
4,E09000005,Brent,17427,18914,18532,22348,21878,21350,23024,23323,...,27577,28034,29514,29987,30699,30134,30366,31706,34046,33639
5,E09000006,Bromley,14693,16175,16720,16401,15684,16635,19042,21192,...,28082,28126,27926,30444,30861,29819,30762,31765,34975,34398
6,E09000007,Camden,21507,23036,23677,25484,27386,27432,30007,30510,...,36962,36336,36748,36970,37817,38147,39198,40238,40422,41114
7,E09000008,Croydon,18168,18846,19563,21339,20889,22675,22810,24371,...,28974,30939,31154,30628,31479,32109,33804,35654,34107,34925
8,E09000009,Ealing,19191,20005,20580,22512,23862,24542,24353,26722,...,31104,29733,28825,28657,29241,30259,29928,31032,32685,32114
9,E09000010,Enfield,17881,19248,19289,22467,24136,24654,22463,27414,...,27123,25805,25805,26230,28918,29134,29238,28170,31143,30826
10,E09000011,Greenwich,19060,20229,21236,22121,20761,21846,23582,25387,...,30097,29251,28954,30497,30180,32635,33163,33214,34257,34461
11,E09000012,Hackney,21528,24878,23249,24083,24095,24582,25300,26687,...,34803,33097,33116,31566,32404,33618,35286,35082,36756,38873
12,E09000013,Hammersmith and Fulham,22196,21930,25000,25264,26319,28012,29808,29830,...,35136,34554,33688,34652,35000,36972,40972,38177,41807,39005
13,E09000014,Haringey,18038,18079,18783,19772,20349,21972,22412,23481,...,29116,29609,30325,30072,29753,31442,29801,30515,33613,31960
14,E09000015,Harrow,18533,20939,20596,22238,22960,23176,22796,24750,...,26738,25784,26037,26770,30134,31255,30553,32812,29644,33443
15,E09000016,Havering,15904,16071,17165,17418,17940,16123,18250,18240,...,28326,29858,30003,30591,28906,29134,30181,32227,33946,31953
16,E09000017,Hillingdon,21779,23208,24002,25038,26051,26159,26551,28003,...,33822,35738,33984,32681,33093,33596,31886,35359,38024,34105
17,E09000018,Hounslow,19989,20146,20155,23230,22853,24399,26033,27457,...,31821,31173,33038,33717,36235,34119,35935,36672,36958,37919
18,E09000019,Islington,22207,22525,25113,26598,28323,33497,29173,30410,...,36653,37325,36751,36679,39894,39348,40000,41199,42105,42430
19,E09000020,Kensington and Chelsea,18512,20203,20646,22952,24979,26649,25778,26846,...,30726,31307,30002,31524,30008,31678,32976,33000,35295,34157
20,E09000021,Kingston upon Thames,18638,20015,19302,20983,21427,22575,23803,23708,...,29067,29450,30768,28635,30729,31308,30711,32261,35268,35647
21,E09000022,Lambeth,21158,22676,23151,24264,24019,24952,26287,27186,...,35280,35397,34491,34852,34670,35036,36200,37226,38486,35627
22,E09000023,Lewisham,18356,19916,20580,22357,21990,23254,22398,25238,...,29995,30478,29983,30932,32217,33294,29966,32392,34403,33375
23,E09000024,Merton,17396,18147,18962,18906,21014,22429,22948,23208,...,28613,28610,27539,30040,28224,29627,31182,31741,33114,34303
24,E09000025,Newham,19269,18747,18862,19437,21054,21420,22828,25896,...,30540,29334,29061,28886,30743,30770,30392,33600,33886,36900
25,E09000026,Redbridge,18413,18246,19580,20256,21106,22133,23259,22702,...,28100,31215,31127,29098,28237,29189,27315,29967,32526,31007
26,E09000027,Richmond upon Thames,18570,20229,22321,22574,23799,23311,25527,26770,...,31505,31997,31533,32660,33329,32141,34027,35390,35575,35684
27,E09000028,Southwark,21069,21586,22784,24857,27114,28062,29307,29609,...,36056,36198,34612,36238,37159,37601,39998,40367,42925,41320
28,E09000029,Sutton,20469,19013,19582,22019,22972,23311,24434,24514,...,25247,30061,25797,27355,28318,27945,28853,32999,35097,30554
29,E09000030,Tower Hamlets,23704,25640,26376,28445,31232,31168,34237,39128,...,44880,46441,48309,46681,45975,49369,49237,45914,50465,48017
30,E09000031,Waltham Forest,17265,18732,18547,19776,21245,21799,22918,23857,...,27235,28447,26484,29352,27455,28284,30298,30664,34680,32436
31,E09000032,Wandsworth,18841,19692,21321,22840,22054,23720,24288,26137,...,31262,31491,31085,31968,33405,33137,34501,34814,34791,33503
32,E09000033,Westminster,22483,23015,24447,25951,26829,28879,29318,31482,...,37649,36946,37260,39392,40000,42152,43015,43753,46251,45295

## Average House Price

In [23]:
house_price = pd.read_excel('data/house price.xls', sheet_name= 'Median') # Can be changed to Mean

# For every year, apart from 1995, the house price is recorded 4 times a year: Mar, Jun, Sep, and Dec.
# Because for 1995 only Dec is available, we will choose Dec as the month and remove all entries that don't have it.
for label in house_price.columns[2:]:
    #label format = Year Ending Jun 1996
    lis = list(label.split(" "))
    length = len(lis)

    # if Month is not Dec, remove column
    if lis[length -2] != 'Dec':
        house_price = house_price.drop([label], axis = 1)

    # Additionally, let's rename the column to be consistent, keeping only the year:
    house_price.rename(columns = {label: lis[length -1]}, inplace= True)

for area_london in house_price['Area']:
    if area_london not in areas:
        house_price = house_price[house_price['Area']!=area_london]

#Drop rows with NaN: in this case they were empty rows
house_price = house_price.dropna()
# save clean data

test = house_price[['Code','Area','2011','2012','2013','2014','2015','2016','2017']]
df = pd.melt(test, id_vars=['Code','Area'], var_name='Year', value_name='median_house_price')

df.to_csv('clean_data/median_house_price.csv', index=False)
house_price

,Code,Area,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,E09000001,City of London,105000.0,124250.0,135000.0,169250.0,180000.0,200000.0,237500.0,250000.0,...,365000.0,400000.0,450000.0,465000.0,485000.0,615000.0,769100.0,799999.5,831400.0,835000.0
2,E09000002,Barking and Dagenham,49000.0,49995.0,53500.0,59995.0,65000.0,78000.0,89500.0,115250.0,...,190000.0,160000.0,170000.0,170000.0,174000.0,180995.0,215000.0,245500.0,290000.0,300000.0
3,E09000003,Barnet,85125.0,87000.0,100000.0,113995.0,135000.0,159000.0,174975.0,207000.0,...,280000.0,290000.0,325000.0,325000.0,330000.0,345000.0,400000.0,450000.0,476500.0,533500.0
4,E09000004,Bexley,62000.0,65000.0,71000.0,79000.0,86000.0,98500.0,116972.5,139500.0,...,210000.0,196000.0,215000.0,215000.0,210000.0,225000.0,250000.0,285000.0,328000.0,342500.0
5,E09000005,Brent,68000.0,73000.0,83500.0,96000.0,112000.0,139000.0,158000.0,187000.0,...,275000.0,275000.0,283000.0,300000.0,322500.0,347500.0,385000.0,415000.0,445000.0,499950.0
6,E09000006,Bromley,76625.0,80000.0,86000.0,99995.0,116500.0,135000.0,152725.0,176820.0,...,250000.0,249000.0,275000.0,275000.0,277500.0,295000.0,335000.0,375000.0,420000.0,440000.0
7,E09000007,Camden,114000.0,127500.0,145000.0,160000.0,190000.0,235000.0,249995.0,279950.0,...,440000.0,417500.0,478500.0,483500.0,500000.0,585000.0,675000.0,705000.0,735000.0,760000.0
8,E09000008,Croydon,60000.0,64500.0,71000.0,79000.0,89000.0,110000.0,126000.0,150100.0,...,226500.0,200000.0,220000.0,220000.0,230000.0,239950.0,265000.0,306000.0,338000.0,365000.0
9,E09000009,Ealing,75000.0,80000.0,90000.0,103000.0,125000.0,145000.0,163000.0,190000.0,...,270000.0,257750.0,279275.0,293000.0,310000.0,326000.0,387775.0,432000.0,465000.0,485000.0
10,E09000010,Enfield,66000.0,69995.0,78000.0,85000.0,94000.0,114000.0,130000.0,153000.0,...,234600.0,225000.0,241000.0,240000.0,248000.0,250000.0,285000.0,331000.0,385000.0,402500.0
11,E09000011,Greenwich,61500.0,64000.0,66000.0,75000.0,90000.0,106500.0,123995.0,150000.0,...,230000.0,220000.0,245000.0,249995.0,245000.0,275000.0,317500.0,351000.0,395000.0,420000.0
12,E09000012,Hackney,61975.0,66000.0,76997.5,87500.0,113000.0,135000.0,160000.0,180000.0,...,265000.0,275000.0,290500.0,310000.0,325000.0,375000.0,430000.0,490000.0,535250.0,530000.0
13,E09000013,Hammersmith and Fulham,109500.0,122000.0,136000.0,159950.0,191500.0,222000.0,245000.0,265000.0,...,435000.0,420000.0,460000.0,465000.0,490000.0,561440.0,661000.0,730000.0,730000.0,777475.0
14,E09000014,Haringey,66500.0,71850.0,81000.0,91000.0,110000.0,130000.0,150000.0,180000.0,...,250000.0,250000.0,290000.0,303000.0,315000.0,339800.0,405000.0,439497.5,460000.0,540000.0
15,E09000015,Harrow,79950.0,82500.0,94159.0,107500.0,124000.0,147250.0,165000.0,197475.0,...,275000.0,250000.0,291000.0,294000.0,302000.0,325000.0,370000.0,400000.0,460000.0,500000.0
16,E09000016,Havering,66375.0,68500.0,74000.0,82500.0,90000.0,110000.0,122500.0,145000.0,...,222500.0,200000.0,221000.0,220000.0,221000.0,232250.0,250000.0,287500.0,332000.0,350000.0
17,E09000017,Hillingdon,71000.0,72500.0,79925.0,89000.0,104950.0,124950.0,140000.0,166950.0,...,245000.0,230000.0,249999.0,249950.0,250000.0,269950.0,305750.0,352250.0,400000.0,415000.0
18,E09000018,Hounslow,73000.0,73000.0,80000.0,95000.0,113000.0,130000.0,148500.0,174950.0,...,249000.0,240000.0,249950.0,250000.0,265000.0,280000.0,319950.0,355000.0,380000.0,395000.0
19,E09000019,Islington,95000.0,102250.0,118875.0,145000.0,170000.0,197500.0,216800.0,245000.0,...,350000.0,345000.0,387498.0,399995.0,410000.0,464999.5,535000.0,580000.0,620000.0,615000.0
20,E09000020,Kensington and Chelsea,172750.0,195000.0,225000.0,245000.0,285000.0,343000.0,363000.0,399450.0,...,701000.0,680000.0,750000.0,790750.0,890714.0,980000.0,1197500.0,1175000.0,1200000.0,1315000.0
21,E09000021,Kingston upon Thames,81000.0,86000.0,94950.0,109500.0,129950.0,154000.0,170000.0,198000.0,...,285000.0,270000.0,300000.0,300000.0,317500.0,335000.0,385000.0,413500.0,460000.0,487250.0
22,E09000022,Lambeth,66000.0,75000.0,85000.0,100000.0,121000.0,156875.0,174200.0,195000.0,...,275000.0,275000.0,302000.0,310000.0,321250.0,350000.0,420000.0,460000.0,507600.0,518110.0
23,E09000023,Lewisham,55500.0,57500.0,64000.0,71250.0,82000.0,99995.0,122000.0,145000.0,...,227000.0,215000.0,235000.0,240000.0,249000.0,260000.0,315000.0,360000.0,387000.0,430000.0
24,E09000024,Merton,74450.0,80000.0,84950.0,96950.0,120000.0,139950.0,160000.0,185000.0,...,261500.0,250000.0,289000.0,295000.0,290000.0,321250.0,385000.0,420000.0,450000.0,470000.0
25,E09000025,Newham,46750.0,50000.0,56000.0,63500.0,71972.5,91995.0,112000.0,141000.0,...,235000.0,200000.0,220000.0,219000.0,219000.0,230000.0,250000.0,310000.0,355000.0,390500.0
26,E09000026,Redbridge,67995.0,71000.0,76375.0,85000.0,97500.0,119000.0,138000.0,168000.0,...,250000.0,230000.0,250000.0,250000.0,265000.0,275000.0,300000.0,350000.0,390000.0,420000.0
27,E09000027,Richmond upon Thames,108000.0,118500.0,136000.0,159000.0,183500.0,219500.0,227000.0,249950.0,...,375000.0,376425.0,400000.0,420000.0,430000.0,475000.0,534995.0,577750.0,605000.0,650000.0
28,E09000028,Southwark,71000.0,72625.0,85000.0,99000.0,123000.0,155000.0,180000.0,190000.0,...,278000.0,285000.0,314500.0,320000.0,332250.0,350000.0,420000.0,475000.0,512750.0,530000.0
29,E09000029,Sutton,67000.0,69000.0,75000.0,85000.0,98000.0,119950.0,132500.0,156000.0,...,230000.0,210000.0,235000.0,233000.0,240000.0,250000.0,285000.0,320250.0,347500.0,367000.0
30,E09000030,Tower Hamlets,67500.0,77000.0,95000.0,115000.0,140000.0,162500.0,184950.0,200000.0,...,289997.5,290000.0,305000.0,300000.0,305000.0,329000.0,385000.0,425000.0,470000.0,490000.0
31,E09000031,Waltham Forest,55000.0,56000.0,62000.0,71000.0,79995.0,96000.0,118000.0,149000.0,...,231000.0,211500.0,230000.0,232000.0,241500.0,265000.0,320000.0,372000.0,422000.0,445000.0
32,E09000032,Wandsworth,85500.0,94000.0,108000.0,125000.0,155000.0,182000.0,204000.0,235000.0,...,350000.0,350000.0,380000.0,390000.0,415750.0,465000.0,532250.0,560000.0,644000.0,654000.0
33,E09000033,Westminster,127550.0,133000.0,160950.0,177000.0,220000.0,250000.0,280000.0,319475.0,...,495000.0,499999.0,580000.0,600000.0,635000.0,725000.0,875000.0,890000.0,1024500.0,1025000.0

## Personal Well-Being (Life-Satisfaction)

In [3]:
personal_well_being = pd.read_excel('data/well-being.xlsx', skiprows=1, sheet_name= 'Summary - Mean Scores')

# rename column by removing last 3 digits
for label in personal_well_being.columns[2:]:
    #print(label)
    personal_well_being.rename(columns = {label: label[:-3]}, inplace= True)

# Now, I know that the first 8 columns relate to Life Satisfaction, the rest relate to other Scores so let's filter it out. We select 10 because we have columns for code and area
personal_well_being = personal_well_being.iloc[:, list(range(10))]

# Now, fisrt row is empty, let's remove it
personal_well_being = personal_well_being.drop([personal_well_being.index[0]])

# Check if we have all Areas, and if some are not needed --> Remove

areas = ['City of London', 'Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney', 'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon', 'Hounslow', 'Islington', 'Kensington and Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster']

for area_london in personal_well_being['Area']:
    if area_london not in areas:
        personal_well_being = personal_well_being[personal_well_being['Area'] != area_london]

# Now, last rows have only NaN , let's remove them
personal_well_being = personal_well_being.drop([personal_well_being.index[33], personal_well_being.index[34], personal_well_being.index[35]])

# save clean data
personal_well_being = personal_well_being.replace('x',np.nan)
test = personal_well_being[['Code','Area','2011','2012','2013','2014','2015','2016','2017']]
df = pd.melt(test, id_vars=['Code','Area'], var_name='Year', value_name='personal_well_being')
df.dropna(inplace=True)

df.to_csv('clean_data/personal_well_being.csv', index=False)

df

          Code                  Area  Year  personal_well_being
1    E09000002  Barking and Dagenham  2011                 7.05
2    E09000003                Barnet  2011                 7.43
3    E09000004                Bexley  2011                 7.42
4    E09000005                 Brent  2011                 7.11
5    E09000006               Bromley  2011                 7.50
..         ...                   ...   ...                  ...
226  E09000029                Sutton  2017                 7.91
227  E09000030         Tower Hamlets  2017                 7.51
228  E09000031        Waltham Forest  2017                 7.73
229  E09000032            Wandsworth  2017                 7.64
230  E09000033           Westminster  2017                 7.57

[224 rows x 4 columns]