In [5]:
import pandas as pd

In [2]:
areas = ['City of London', 'Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney', 'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon', 'Hounslow', 'Islington', 'Kensington and Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster']

## Housing density

In [10]:
housing_density = pd.read_excel('data/housing density.xlsx', sheet_name= 'Number of dwellings')
housing_density = housing_density.drop(index=0)
for area_london in housing_density['Area name']:
    if area_london not in areas:
        housing_density = housing_density[housing_density['Area name'] != area_london]
housing_density.rename(columns={'Area name': 'Area'}, inplace=True)
housing_density.rename(columns={'ONS code': 'Code'}, inplace=True)

# TODO: actually compute the density --> waiting for mischa's data
housing_density

,Code,Area,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,E09000001,City of London,5009.0,5117.100000,5126.200000,5263.300000,5374.400000,5373.500000,5374.600000,5420.700000,...,5458.900000,5513.0,5531.000000,5566.000000,6003.000000,6229.000000,6306.000000,6313.000000,6451.000000,6506.000000
2,E09000002,Barking and Dagenham,68298.0,68525.700000,68837.400000,68899.100000,69260.800000,69528.500000,69835.200000,70550.900000,...,70946.300000,71079.0,71431.000000,71937.000000,72668.000000,73182.000000,73914.000000,74510.000000,74923.000000,75829.000000
3,E09000003,Barnet,130515.0,130800.600000,131883.200000,132855.800000,133902.400000,134941.000000,135428.600000,136680.200000,...,138616.400000,139346.0,141460.645482,142834.645482,143947.645482,145271.645482,146729.645482,148528.645482,150736.645482,152945.645482
4,E09000004,Bexley,91606.0,91907.600000,92223.200000,92949.800000,93220.400000,93433.000000,93745.600000,94078.200000,...,94798.400000,95037.0,95240.000000,95658.000000,96186.000000,96996.000000,96864.000000,97628.000000,97905.000000,98391.000000
5,E09000005,Brent,101427.0,102828.100000,103846.200000,104454.300000,105093.400000,106767.500000,107969.600000,109036.700000,...,111413.900000,112083.0,112643.000000,113305.000000,114039.000000,115598.000000,116649.000000,118013.000000,118707.000000,120448.000000
6,E09000006,Bromley,128717.0,128974.200000,129314.400000,129808.600000,130639.800000,131387.000000,132339.200000,133112.400000,...,134297.800000,135036.0,135612.000000,136304.000000,136453.000000,136864.000000,137564.000000,138422.000000,138976.000000,139684.000000
7,E09000007,Camden,93112.0,93884.100000,94460.200000,94841.300000,95563.400000,96350.500000,96997.600000,97516.700000,...,99138.900000,99828.0,100196.000000,100760.000000,101214.000000,101653.000000,102618.000000,103826.000000,104771.000000,105598.000000
8,E09000008,Croydon,141300.0,141423.600000,141819.200000,142176.800000,142566.400000,142961.000000,143713.600000,144896.200000,...,147249.400000,148099.0,148806.000000,149697.000000,150992.000000,152515.000000,154559.000000,157394.000000,159470.000000,161060.000000
9,E09000009,Ealing,120331.0,120589.700000,120922.400000,121428.100000,121909.800000,122743.500000,124111.200000,125530.900000,...,126901.300000,127187.0,127872.000000,128862.000000,129631.000000,130528.000000,131249.000000,132094.000000,133551.000000,135305.000000
10,E09000010,Enfield,112948.0,114130.900000,115273.800000,116337.700000,117055.600000,117613.500000,118667.400000,119946.300000,...,121243.100000,122042.0,122339.000000,122888.000000,123400.000000,123799.000000,124471.000000,125369.000000,125755.000000,126255.000000
11,E09000011,Greenwich,95406.0,95971.900000,96745.800000,98181.700000,99806.600000,101193.500000,101931.400000,102257.300000,...,102651.100000,103186.0,104509.000000,104623.000000,105735.000000,106883.000000,108603.000000,110983.000000,112884.000000,114398.000000
12,E09000012,Hackney,87208.0,88556.556501,90216.113002,91587.669504,92738.226005,93940.782506,95391.339007,97301.895509,...,101657.008511,102408.0,103564.601864,104364.601864,105489.601864,106747.601864,107573.601864,108769.601864,110036.601864,111558.601864
13,E09000013,Hammersmith and Fulham,77095.0,77287.300000,77608.600000,78197.900000,78666.200000,79314.500000,79968.800000,80510.100000,...,81901.700000,82390.0,82861.000000,83281.000000,83907.000000,85267.000000,85635.000000,86609.000000,88140.000000,89186.000000
14,E09000014,Haringey,93638.0,94320.684298,95142.368596,95714.052894,97168.737192,98339.421490,99827.105788,100959.790086,...,103430.158682,104173.0,105456.000000,106033.000000,106507.000000,106640.000000,106879.000000,107620.000000,108820.000000,109388.000000
15,E09000015,Harrow,80734.0,80963.100000,81524.200000,82053.300000,82704.400000,83362.500000,84071.600000,84534.700000,...,85993.900000,86524.0,86994.000000,87709.000000,88004.000000,88414.000000,89324.000000,89980.000000,90680.000000,91909.000000
16,E09000016,Havering,93792.0,94194.469339,94552.938677,95182.408016,95726.877355,96191.346693,97131.816032,97551.285371,...,98805.224048,99184.0,99226.000000,99463.000000,99619.000000,100261.000000,101273.000000,101716.000000,101993.000000,102459.000000
17,E09000017,Hillingdon,99060.0,99327.500000,99766.000000,100305.500000,100646.000000,101240.500000,101525.000000,102019.500000,...,103507.500000,103907.0,104896.000000,106363.000000,106917.000000,107462.000000,108171.000000,108935.000000,109777.000000,110734.000000
18,E09000018,Hounslow,85810.0,86521.200000,87433.400000,88607.600000,89508.800000,90367.000000,92108.200000,94100.400000,...,95892.800000,96892.0,97472.000000,97704.000000,98390.000000,98787.000000,99267.000000,99824.000000,100735.000000,101838.000000
19,E09000019,Islington,83244.0,84255.300000,85983.600000,87262.900000,87942.200000,88819.500000,90649.800000,92378.100000,...,96300.700000,96872.0,98096.000000,99015.000000,100258.000000,100756.000000,101783.000000,102457.000000,102824.000000,103740.000000
20,E09000020,Kensington and Chelsea,83751.0,83818.700000,83965.400000,84363.100000,84517.800000,84595.500000,84630.200000,84576.900000,...,84756.300000,84798.0,84900.000000,84957.000000,85553.000000,86537.000000,86921.000000,87276.000000,87611.000000,87726.000000
21,E09000021,Kingston upon Thames,62474.0,62620.600000,62868.200000,63404.800000,63918.400000,64249.000000,64546.600000,64812.200000,...,65086.400000,65198.0,65422.000000,65625.000000,65886.000000,66412.000000,66651.000000,66924.000000,67141.000000,67642.000000
22,E09000022,Lambeth,120390.0,121455.000000,122013.000000,122819.000000,123839.000000,125207.000000,126555.000000,127978.000000,...,130655.000000,132213.0,133063.000000,133598.000000,134852.000000,136263.000000,137610.000000,138745.000000,140288.000000,141507.000000
23,E09000023,Lewisham,108964.0,109434.500000,109746.000000,110807.500000,111594.000000,112631.500000,113286.000000,114369.500000,...,116639.500000,117651.0,118839.000000,120637.000000,121350.000000,122818.000000,124357.000000,125961.000000,126487.000000,128115.000000
24,E09000024,Merton,80789.0,80602.200000,80475.400000,80332.600000,80270.800000,80541.000000,80534.200000,80683.400000,...,80970.800000,80919.0,81429.000000,81842.000000,82282.000000,82707.000000,83215.000000,83649.000000,84297.000000,84570.000000
25,E09000025,Newham,93390.0,94609.400000,95490.800000,96805.200000,97377.600000,98274.000000,98994.400000,99914.800000,...,102443.600000,103212.0,104121.000000,104791.000000,106760.000000,108810.000000,110251.000000,112628.000000,114474.000000,116979.000000
26,E09000026,Redbridge,93989.0,94682.200000,95500.400000,96195.600000,96902.800000,97665.000000,98687.200000,99313.400000,...,100888.800000,101348.0,101874.000000,102138.000000,102396.000000,102653.000000,102707.000000,103462.000000,103924.000000,104688.000000
27,E09000027,Richmond upon Thames,78411.0,78675.800000,78956.600000,79248.400000,79877.200000,80819.000000,81104.800000,81457.600000,...,82116.200000,82482.0,82691.000000,83176.000000,83540.000000,83781.000000,84294.000000,84759.000000,85141.000000,85564.000000
28,E09000028,Southwark,107119.0,107540.100000,108467.200000,110145.300000,112162.400000,113730.500000,116041.600000,118188.700000,...,121411.900000,123265.0,124319.000000,125566.000000,127217.000000,128358.000000,129740.000000,132152.000000,132970.000000,136178.000000
29,E09000029,Sutton,77701.0,77734.400000,77855.800000,78054.200000,78353.600000,78498.000000,78633.400000,79115.800000,...,79507.600000,79696.0,80283.000000,80510.000000,80810.000000,81237.000000,81628.000000,82281.000000,82978.000000,83553.000000
30,E09000030,Tower Hamlets,80225.0,82185.000000,83659.000000,85341.000000,88380.000000,91356.000000,94373.000000,97010.000000,...,103509.000000,105379.0,108254.129261,109215.129261,109875.129261,110791.129261,113185.129261,118012.129261,120015.129261,121539.129261
31,E09000031,Waltham Forest,91992.0,92409.300000,92699.600000,92990.900000,93618.200000,94380.500000,95302.800000,96281.100000,...,97623.700000,98279.0,98783.000000,99251.000000,99640.000000,100311.000000,101284.000000,102317.000000,103029.000000,103642.000000
32,E09000032,Wandsworth,120744.0,121619.600000,122821.200000,124137.800000,125880.400000,127243.000000,128945.600000,130226.200000,...,133885.400000,134619.0,135601.000000,136558.000000,137757.000000,138841.000000,141579.000000,143915.000000,146162.000000,148075.000000
33,E09000033,Westminster,101213.0,103123.700000,104540.400000,106760.100000,108199.800000,110180.500000,111743.200000,113412.900000,...,116644.300000,118318.0,119245.000000,119837.000000,120367.000000,121116.000000,122024.000000,123366.000000,124509.000000,125312.000000
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Crime

In [26]:
crime = pd.read_csv('data/crime.csv')
crime = crime.drop(crime.columns[[0,1]], axis=1)
crime = crime.reset_index(drop=True)
for col in crime.columns[1:]:
    if '04' in col:
        continue
    else:
        crime = crime.drop(col, axis=1)

crime = crime.groupby('LookUp_BoroughName').agg('sum').reset_index()

for area_london in crime['LookUp_BoroughName']:
    if area_london not in areas:
        crime = crime[crime['LookUp_BoroughName'] != area_london]

new_name = {}
for col in crime.columns[1:]:
    new_name[col] = col[:4]

crime.rename(columns={'LookUp_BoroughName': 'Area'}, inplace=True)
crime.rename(columns=new_name, inplace=True)
crime = crime.dropna()

# Adding missing Area Column
crime = pd.merge(housing_density[['Code', 'Area']],crime, on = 'Area')

# save clean data
crime.to_csv('clean_data/crime.csv')

crime

,Code,Area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,E09000002,Barking and Dagenham,1669,1635,1363,1360,1253,1343,1414,1497,1454,1684,1273
1,E09000003,Barnet,2037,2243,2098,1817,1917,1925,2168,2207,2352,2557,1660
2,E09000004,Bexley,1214,982,984,940,1055,918,966,1093,1194,1488,916
3,E09000005,Brent,2491,2601,2253,1851,2017,2021,2217,2323,2400,2447,2036
4,E09000006,Bromley,1887,1797,1520,1646,1583,1725,1584,1914,1890,1968,1444
5,E09000007,Camden,2903,2990,2759,2404,2181,2516,2314,2916,2831,3235,1643
6,E09000008,Croydon,2708,2625,2566,2250,2121,2399,2458,2395,2510,2621,2251
7,E09000009,Ealing,2986,2915,2400,2195,1972,2109,2338,2254,2291,2506,2000
8,E09000010,Enfield,1933,1910,1802,1730,1747,1771,1942,2096,2312,2416,1867
9,E09000011,Greenwich,2155,1861,1674,1628,1646,1740,1871,2049,2094,2353,1663
10,E09000012,Hackney,2354,2351,2353,2164,1988,2215,2279,2649,2500,2851,1642
11,E09000013,Hammersmith and Fulham,2100,1942,1896,1551,1574,1713,1748,1668,1734,2036,1263
12,E09000014,Haringey,2159,2000,1995,1699,1772,2064,2250,2413,2708,2631,2037
13,E09000015,Harrow,1368,1156,1058,959,972,987,1068,1157,1049,1378,1039
14,E09000016,Havering,1403,1378,1335,1259,1297,1204,1484,1545,1533,1576,944
15,E09000017,Hillingdon,2084,2025,1822,1548,1750,1735,1704,1882,1944,2198,1606
16,E09000018,Hounslow,2040,1979,1979,1587,1652,1629,1784,1877,2041,2229,1789
17,E09000019,Islington,2375,2207,2362,1899,2079,2385,2167,2427,2346,2528,1493
18,E09000020,Kensington and Chelsea,1630,1645,1721,1456,1532,1474,1470,1722,1644,1873,896
19,E09000021,Kingston upon Thames,918,930,841,757,723,780,889,908,968,1150,684
20,E09000022,Lambeth,2918,3270,2911,2577,2572,2776,2845,2812,2868,2930,1887
21,E09000023,Lewisham,2601,2280,1951,1841,1756,1975,1964,2042,1961,2329,2022
22,E09000024,Merton,1262,1150,1087,1061,880,971,1085,1097,1092,1211,894
23,E09000025,Newham,2971,2715,2590,2329,2314,2239,2433,2789,2887,2914,2075
24,E09000026,Redbridge,1877,1971,1759,1641,1543,1509,1683,1767,1946,1997,1490
25,E09000027,Richmond upon Thames,946,1042,985,910,847,896,873,1045,957,1095,719
26,E09000028,Southwark,3132,2905,2414,2605,2294,2475,2652,2603,2943,3260,1847
27,E09000029,Sutton,1104,1034,931,864,797,930,937,953,956,1168,867
28,E09000030,Tower Hamlets,2347,2185,2235,2258,2036,2145,2425,2727,2779,2867,1917
29,E09000031,Waltham Forest,2243,2183,2068,1840,1702,1742,1733,1762,1861,1900,1690
30,E09000032,Wandsworth,2138,1695,2096,1920,1653,1891,1959,1936,2103,2098,1414
31,E09000033,Westminster,5380,5518,4939,4622,3838,3884,3886,4770,4563,7224,1710

## Waste

In [28]:
waste = pd.read_excel('data/recycle.xlsx', sheet_name='Household Recycling Rates')
waste = waste.drop(index=0)
waste = waste.drop('Code', axis=1)
for area_london in waste['Area']:
    if area_london not in areas:
        waste = waste[waste['Area'] != area_london]
new_name = {}
for col in waste.columns[2:]:
    new_name[col] = col[:4]

waste.rename(columns={'New Code': 'Code'}, inplace=True)
waste.rename(columns=new_name).dropna()
waste.rename(columns=new_name, inplace=True)
waste = waste.dropna()

# save clean data
waste.to_csv('clean_data/waste.csv')

waste

,Code,Area,1998,1999,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,E09000001,City of London,0.0,0,0.0,0.0,1.0,8.0,14.0,18.10,...,36.9,36.4,38.8,34.4,30.8,28.5,29.236600,29.9,28.9,30.3
2,E09000002,Barking and Dagenham,3.0,3,4.0,3.0,3.0,5.0,14.0,16.60,...,30.0,26.8,24.8,23.4,18.9,25.3,25.046448,23.7,25.2,26.9
3,E09000003,Barnet,9.0,8,8.0,8.0,13.0,16.0,20.0,27.47,...,33.6,33.0,36.4,38.0,36.8,37.4,36.928207,34.6,32.0,28.9
4,E09000004,Bexley,20.0,18,17.0,20.0,23.0,21.0,30.0,37.71,...,53.5,54.3,55.2,54.0,52.0,52.7,52.061997,54.1,54.2,50.0
5,E09000005,Brent,5.0,6,7.0,7.0,8.0,10.0,14.0,20.01,...,36.8,42.5,40.8,35.2,35.8,36.4,36.534757,36.6,34.2,33.4
6,E09000006,Bromley,7.0,13,13.0,14.0,15.0,20.0,23.0,27.25,...,49.9,49.1,49.6,48.0,46.3,46.9,49.987760,50.1,50.9,44.8
7,E09000007,Camden,11.0,13,16.0,12.0,14.0,19.0,25.0,27.14,...,33.0,30.9,29.3,26.3,24.8,26.6,30.328873,31.1,25.9,28.6
8,E09000008,Croydon,14.0,13,12.0,12.0,13.0,14.0,13.0,16.17,...,38.1,44.3,42.2,39.9,37.8,38.6,37.915908,47.3,49.2,41.3
9,E09000009,Ealing,10.0,12,12.0,13.0,15.0,15.0,15.0,19.28,...,40.8,40.6,40.2,40.1,43.0,50.7,48.761060,52.6,48.3,49.0
10,E09000010,Enfield,9.0,9,8.0,13.0,14.0,16.0,24.0,27.29,...,35.3,38.8,39.1,38.5,35.9,37.2,35.873427,33.4,33.1,33.2
11,E09000011,Greenwich,7.0,4,5.0,7.0,7.0,12.0,19.0,21.66,...,39.1,39.9,38.8,34.3,34.8,34.9,35.074704,33.4,33.2,31.5
12,E09000012,Hackney,2.0,2,1.0,1.0,3.0,6.0,12.0,16.21,...,24.0,24.3,25.4,25.3,24.8,27.0,27.390456,27.9,28.3,28.1
13,E09000013,Hammersmith and Fulham,8.0,7,8.0,8.0,10.0,16.0,20.0,21.49,...,30.1,22.7,20.5,20.7,22.0,23.2,23.701633,23.8,25.5,27.5
14,E09000014,Haringey,5.0,5,5.0,5.0,5.0,9.0,14.0,19.23,...,25.7,31.7,35.8,37.3,36.2,35.7,32.916279,29.3,29.7,31.0
15,E09000015,Harrow,8.0,10,11.0,13.0,12.0,16.0,19.0,26.70,...,48.2,44.7,49.2,45.1,40.9,39.7,40.964433,40.2,38.8,35.8
16,E09000016,Havering,9.0,8,6.0,9.0,5.0,8.0,16.0,17.81,...,35.5,34.6,31.5,32.4,31.8,37.3,37.025363,37.4,37.5,34.7
17,E09000017,Hillingdon,7.0,11,13.0,20.0,28.0,34.0,27.0,27.70,...,43.4,43.0,43.1,43.8,44.1,43.4,39.962451,36.7,37.4,37.3
18,E09000018,Hounslow,14.0,14,13.0,16.0,20.0,20.0,17.0,19.25,...,35.4,35.0,35.1,34.5,33.8,30.1,29.763116,31.4,31.5,35.4
19,E09000019,Islington,3.0,2,5.0,6.0,6.0,7.0,11.0,18.29,...,32.2,31.4,32.7,32.8,29.4,31.6,29.459768,29.0,29.6,31.3
20,E09000020,Kensington and Chelsea,11.0,13,8.0,9.0,9.0,15.0,18.0,19.94,...,33.7,26.4,25.4,25.3,25.9,25.7,26.210844,27.0,28.6,24.2
21,E09000021,Kingston upon Thames,15.0,18,20.0,18.0,18.0,19.0,18.0,23.97,...,46.8,46.3,46.3,45.7,45.8,47.0,48.310839,49.4,48.6,47.6
22,E09000022,Lambeth,7.0,8,9.0,8.0,10.0,12.0,16.0,22.15,...,27.9,22.8,21.1,28.3,28.7,28.8,29.830906,30.1,31.7,36.4
23,E09000023,Lewisham,9.0,4,5.0,6.0,7.0,8.0,10.0,12.20,...,17.2,20.0,17.7,17.1,18.0,17.7,21.823293,28.0,26.6,28.4
24,E09000024,Merton,9.0,11,18.0,15.0,15.0,15.0,20.0,22.59,...,37.3,38.9,38.9,37.5,34.8,35.7,36.972918,38.5,42.2,40.8
25,E09000025,Newham,2.0,3,3.0,3.0,5.0,2.0,6.0,10.13,...,22.7,21.0,17.7,17.2,14.7,14.1,14.128157,16.9,20.3,20.9
26,E09000026,Redbridge,7.0,8,9.0,10.0,13.0,9.0,16.0,17.34,...,32.5,29.4,29.3,28.7,27.7,26.7,23.906445,24.9,25.4,25.4
27,E09000027,Richmond upon Thames,14.0,na,15.0,19.0,23.0,24.0,24.0,28.59,...,44.7,46.0,43.3,41.2,40.5,42.4,41.856481,42.5,43.6,40.4
28,E09000028,Southwark,4.0,3,3.0,4.0,4.0,7.0,11.0,14.96,...,27.3,30.4,34.3,34.6,35.0,34.0,34.727593,35.2,35.1,32.5
29,E09000029,Sutton,16.0,27,25.0,16.0,19.0,25.0,28.0,29.07,...,37.4,36.5,37.1,37.6,34.7,36.5,50.048815,49.1,48.5,46.1
30,E09000030,Tower Hamlets,3.0,3,3.0,3.0,3.0,5.0,7.0,8.85,...,27.1,27.6,28.0,28.1,26.7,27.6,26.449413,23.2,21.5,19.3
31,E09000031,Waltham Forest,6.0,9,9.0,8.0,11.0,12.0,18.0,21.85,...,27.1,30.8,32.6,35.5,34.6,34.4,32.481245,31.6,32.3,31.9
32,E09000032,Wandsworth,8.0,7,7.0,8.0,10.0,18.0,17.0,20.96,...,28.4,23.5,20.4,20.7,21.1,21.9,22.085340,23.2,23.7,24.2
33,E09000033,Westminster,10.0,7,7.0,9.0,10.0,11.0,15.0,18.29,...,25.1,21.7,21.1,19.1,17.3,17.4,18.846207,21.7,20.4,23.9