In [2]:
import pandas as pd

In [3]:
areas = ['City of London', 'Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney', 'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon', 'Hounslow', 'Islington', 'Kensington and Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster']

## Housing density

In [4]:
housing_density = pd.read_excel('data/housing density.xlsx', sheet_name= 'Number of dwellings')
housing_density = housing_density.drop(index=0)
for area_london in housing_density['Area name']:
    if area_london not in areas:
        housing_density = housing_density[housing_density['Area name'] != area_london]
housing_density.rename(columns={'Area name': 'Area'}, inplace=True)
housing_density.rename(columns={'ONS code': 'Code'}, inplace=True)

# TODO: actually compute the density --> waiting for mischa's data
housing_density

,Code,Area,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,E09000001,City of London,5009.0,5117.100000,5126.200000,5263.300000,5374.400000,5373.500000,5374.600000,5420.700000,...,5458.900000,5513.0,5531.000000,5566.000000,6003.000000,6229.000000,6306.000000,6313.000000,6451.000000,6506.000000
2,E09000002,Barking and Dagenham,68298.0,68525.700000,68837.400000,68899.100000,69260.800000,69528.500000,69835.200000,70550.900000,...,70946.300000,71079.0,71431.000000,71937.000000,72668.000000,73182.000000,73914.000000,74510.000000,74923.000000,75829.000000
3,E09000003,Barnet,130515.0,130800.600000,131883.200000,132855.800000,133902.400000,134941.000000,135428.600000,136680.200000,...,138616.400000,139346.0,141460.645482,142834.645482,143947.645482,145271.645482,146729.645482,148528.645482,150736.645482,152945.645482
4,E09000004,Bexley,91606.0,91907.600000,92223.200000,92949.800000,93220.400000,93433.000000,93745.600000,94078.200000,...,94798.400000,95037.0,95240.000000,95658.000000,96186.000000,96996.000000,96864.000000,97628.000000,97905.000000,98391.000000
5,E09000005,Brent,101427.0,102828.100000,103846.200000,104454.300000,105093.400000,106767.500000,107969.600000,109036.700000,...,111413.900000,112083.0,112643.000000,113305.000000,114039.000000,115598.000000,116649.000000,118013.000000,118707.000000,120448.000000
6,E09000006,Bromley,128717.0,128974.200000,129314.400000,129808.600000,130639.800000,131387.000000,132339.200000,133112.400000,...,134297.800000,135036.0,135612.000000,136304.000000,136453.000000,136864.000000,137564.000000,138422.000000,138976.000000,139684.000000
7,E09000007,Camden,93112.0,93884.100000,94460.200000,94841.300000,95563.400000,96350.500000,96997.600000,97516.700000,...,99138.900000,99828.0,100196.000000,100760.000000,101214.000000,101653.000000,102618.000000,103826.000000,104771.000000,105598.000000
8,E09000008,Croydon,141300.0,141423.600000,141819.200000,142176.800000,142566.400000,142961.000000,143713.600000,144896.200000,...,147249.400000,148099.0,148806.000000,149697.000000,150992.000000,152515.000000,154559.000000,157394.000000,159470.000000,161060.000000
9,E09000009,Ealing,120331.0,120589.700000,120922.400000,121428.100000,121909.800000,122743.500000,124111.200000,125530.900000,...,126901.300000,127187.0,127872.000000,128862.000000,129631.000000,130528.000000,131249.000000,132094.000000,133551.000000,135305.000000
10,E09000010,Enfield,112948.0,114130.900000,115273.800000,116337.700000,117055.600000,117613.500000,118667.400000,119946.300000,...,121243.100000,122042.0,122339.000000,122888.000000,123400.000000,123799.000000,124471.000000,125369.000000,125755.000000,126255.000000
11,E09000011,Greenwich,95406.0,95971.900000,96745.800000,98181.700000,99806.600000,101193.500000,101931.400000,102257.300000,...,102651.100000,103186.0,104509.000000,104623.000000,105735.000000,106883.000000,108603.000000,110983.000000,112884.000000,114398.000000
12,E09000012,Hackney,87208.0,88556.556501,90216.113002,91587.669504,92738.226005,93940.782506,95391.339007,97301.895509,...,101657.008511,102408.0,103564.601864,104364.601864,105489.601864,106747.601864,107573.601864,108769.601864,110036.601864,111558.601864
13,E09000013,Hammersmith and Fulham,77095.0,77287.300000,77608.600000,78197.900000,78666.200000,79314.500000,79968.800000,80510.100000,...,81901.700000,82390.0,82861.000000,83281.000000,83907.000000,85267.000000,85635.000000,86609.000000,88140.000000,89186.000000
14,E09000014,Haringey,93638.0,94320.684298,95142.368596,95714.052894,97168.737192,98339.421490,99827.105788,100959.790086,...,103430.158682,104173.0,105456.000000,106033.000000,106507.000000,106640.000000,106879.000000,107620.000000,108820.000000,109388.000000
15,E09000015,Harrow,80734.0,80963.100000,81524.200000,82053.300000,82704.400000,83362.500000,84071.600000,84534.700000,...,85993.900000,86524.0,86994.000000,87709.000000,88004.000000,88414.000000,89324.000000,89980.000000,90680.000000,91909.000000
16,E09000016,Havering,93792.0,94194.469339,94552.938677,95182.408016,95726.877355,96191.346693,97131.816032,97551.285371,...,98805.224048,99184.0,99226.000000,99463.000000,99619.000000,100261.000000,101273.000000,101716.000000,101993.000000,102459.000000
17,E09000017,Hillingdon,99060.0,99327.500000,99766.000000,100305.500000,100646.000000,101240.500000,101525.000000,102019.500000,...,103507.500000,103907.0,104896.000000,106363.000000,106917.000000,107462.000000,108171.000000,108935.000000,109777.000000,110734.000000
18,E09000018,Hounslow,85810.0,86521.200000,87433.400000,88607.600000,89508.800000,90367.000000,92108.200000,94100.400000,...,95892.800000,96892.0,97472.000000,97704.000000,98390.000000,98787.000000,99267.000000,99824.000000,100735.000000,101838.000000
19,E09000019,Islington,83244.0,84255.300000,85983.600000,87262.900000,87942.200000,88819.500000,90649.800000,92378.100000,...,96300.700000,96872.0,98096.000000,99015.000000,100258.000000,100756.000000,101783.000000,102457.000000,102824.000000,103740.000000
20,E09000020,Kensington and Chelsea,83751.0,83818.700000,83965.400000,84363.100000,84517.800000,84595.500000,84630.200000,84576.900000,...,84756.300000,84798.0,84900.000000,84957.000000,85553.000000,86537.000000,86921.000000,87276.000000,87611.000000,87726.000000
21,E09000021,Kingston upon Thames,62474.0,62620.600000,62868.200000,63404.800000,63918.400000,64249.000000,64546.600000,64812.200000,...,65086.400000,65198.0,65422.000000,65625.000000,65886.000000,66412.000000,66651.000000,66924.000000,67141.000000,67642.000000
22,E09000022,Lambeth,120390.0,121455.000000,122013.000000,122819.000000,123839.000000,125207.000000,126555.000000,127978.000000,...,130655.000000,132213.0,133063.000000,133598.000000,134852.000000,136263.000000,137610.000000,138745.000000,140288.000000,141507.000000
23,E09000023,Lewisham,108964.0,109434.500000,109746.000000,110807.500000,111594.000000,112631.500000,113286.000000,114369.500000,...,116639.500000,117651.0,118839.000000,120637.000000,121350.000000,122818.000000,124357.000000,125961.000000,126487.000000,128115.000000
24,E09000024,Merton,80789.0,80602.200000,80475.400000,80332.600000,80270.800000,80541.000000,80534.200000,80683.400000,...,80970.800000,80919.0,81429.000000,81842.000000,82282.000000,82707.000000,83215.000000,83649.000000,84297.000000,84570.000000
25,E09000025,Newham,93390.0,94609.400000,95490.800000,96805.200000,97377.600000,98274.000000,98994.400000,99914.800000,...,102443.600000,103212.0,104121.000000,104791.000000,106760.000000,108810.000000,110251.000000,112628.000000,114474.000000,116979.000000
26,E09000026,Redbridge,93989.0,94682.200000,95500.400000,96195.600000,96902.800000,97665.000000,98687.200000,99313.400000,...,100888.800000,101348.0,101874.000000,102138.000000,102396.000000,102653.000000,102707.000000,103462.000000,103924.000000,104688.000000
27,E09000027,Richmond upon Thames,78411.0,78675.800000,78956.600000,79248.400000,79877.200000,80819.000000,81104.800000,81457.600000,...,82116.200000,82482.0,82691.000000,83176.000000,83540.000000,83781.000000,84294.000000,84759.000000,85141.000000,85564.000000
28,E09000028,Southwark,107119.0,107540.100000,108467.200000,110145.300000,112162.400000,113730.500000,116041.600000,118188.700000,...,121411.900000,123265.0,124319.000000,125566.000000,127217.000000,128358.000000,129740.000000,132152.000000,132970.000000,136178.000000
29,E09000029,Sutton,77701.0,77734.400000,77855.800000,78054.200000,78353.600000,78498.000000,78633.400000,79115.800000,...,79507.600000,79696.0,80283.000000,80510.000000,80810.000000,81237.000000,81628.000000,82281.000000,82978.000000,83553.000000
30,E09000030,Tower Hamlets,80225.0,82185.000000,83659.000000,85341.000000,88380.000000,91356.000000,94373.000000,97010.000000,...,103509.000000,105379.0,108254.129261,109215.129261,109875.129261,110791.129261,113185.129261,118012.129261,120015.129261,121539.129261
31,E09000031,Waltham Forest,91992.0,92409.300000,92699.600000,92990.900000,93618.200000,94380.500000,95302.800000,96281.100000,...,97623.700000,98279.0,98783.000000,99251.000000,99640.000000,100311.000000,101284.000000,102317.000000,103029.000000,103642.000000
32,E09000032,Wandsworth,120744.0,121619.600000,122821.200000,124137.800000,125880.400000,127243.000000,128945.600000,130226.200000,...,133885.400000,134619.0,135601.000000,136558.000000,137757.000000,138841.000000,141579.000000,143915.000000,146162.000000,148075.000000
33,E09000033,Westminster,101213.0,103123.700000,104540.400000,106760.100000,108199.800000,110180.500000,111743.200000,113412.900000,...,116644.300000,118318.0,119245.000000,119837.000000,120367.000000,121116.000000,122024.000000,123366.000000,124509.000000,125312.000000
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Crime

In [8]:
crime = pd.read_csv('data/crime.csv')
crime = crime.drop(crime.columns[[0,1]], axis=1)
crime = crime.reset_index(drop=True)
for col in crime.columns[1:]:
    if '04' in col:
        continue
    else:
        crime = crime.drop(col, axis=1)

crime = crime.groupby('LookUp_BoroughName').agg('sum').reset_index()

for area_london in crime['LookUp_BoroughName']:
    if area_london not in areas:
        crime = crime[crime['LookUp_BoroughName'] != area_london]

new_name = {}
for col in crime.columns[1:]:
    new_name[col] = col[:4]

crime.rename(columns={'LookUp_BoroughName': 'Area'}, inplace=True)
crime.rename(columns=new_name, inplace=True)
crime = crime.dropna()

# Adding missing Area Column
crime = pd.merge(housing_density[['Code', 'Area']],crime, on = 'Area')

# save clean data

crime = crime[['Code','Area','2011','2012','2013','2014','2015','2016','2017']]
crime = pd.melt(crime, id_vars=['Code','Area'], var_name='Year', value_name='Crime_rate')

crime.rename(columns = {'Crime_rate': 'Number_of_crimes' }, inplace= True)

crime.to_csv('clean_data/crime.csv',index=False)

crime

          Code                  Area  Year  Number_of_crimes
0    E09000002  Barking and Dagenham  2011              1635
1    E09000003                Barnet  2011              2243
2    E09000004                Bexley  2011               982
3    E09000005                 Brent  2011              2601
4    E09000006               Bromley  2011              1797
..         ...                   ...   ...               ...
219  E09000029                Sutton  2017               953
220  E09000030         Tower Hamlets  2017              2727
221  E09000031        Waltham Forest  2017              1762
222  E09000032            Wandsworth  2017              1936
223  E09000033           Westminster  2017              4770

[224 rows x 4 columns]

## Waste

In [9]:
waste = pd.read_excel('data/recycle.xlsx', sheet_name='Household Recycling Rates')
waste = waste.drop(index=0)
waste = waste.drop('Code', axis=1)
for area_london in waste['Area']:
    if area_london not in areas:
        waste = waste[waste['Area'] != area_london]
new_name = {}
for col in waste.columns[2:]:
    new_name[col] = col[:4]

waste.rename(columns={'New Code': 'Code'}, inplace=True)
waste.rename(columns=new_name).dropna()
waste.rename(columns=new_name, inplace=True)
waste = waste.dropna()

# save clean data

waste = waste[['Code','Area','2011','2012','2013','2014','2015','2016','2017']]
waste = pd.melt(waste, id_vars=['Code','Area'], var_name='Year', value_name='waste')

waste.rename(columns = {'waste': 'Waste_recycling_rates' }, inplace= True)

waste.to_csv('clean_data/waste.csv',index=False)

waste

          Code                  Area  Year  Waste_recycling_rates
0    E09000001        City of London  2011              36.900000
1    E09000002  Barking and Dagenham  2011              30.000000
2    E09000003                Barnet  2011              33.600000
3    E09000004                Bexley  2011              53.500000
4    E09000005                 Brent  2011              36.800000
..         ...                   ...   ...                    ...
226  E09000029                Sutton  2017              50.048815
227  E09000030         Tower Hamlets  2017              26.449413
228  E09000031        Waltham Forest  2017              32.481245
229  E09000032            Wandsworth  2017              22.085340
230  E09000033           Westminster  2017              18.846207

[231 rows x 4 columns]